.sksn-shunfaanniu { 
	display: block;
    position: absolute;
    right: 0px;
    top: calc(30%);    
    width: 45px;
    height: 19px;
    background-image: url('sksn_pic_button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 10;
    cursor: pointer;
    font-size: 15px;
    font-family: 'xinwei';
    text-align: center;
    color:white; 
}

.sksnw-background{
    z-index: 22;
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transform:translate(-50%,-50%);
}

.sksnw-background>.sksn-winner-head{
	display: block;
    position: absolute;
    left: calc(50% - 150px);
    top: 50%;
    width: 200px;
    height: 275px;    
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    z-index: 23;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}

.sksnw-background>.sksn-winner-biankuang{
	display: block;
    position: absolute;
    left: calc(50% - 150px);
    top: 50%;
    width: 210px;
    height: 285px;     
    background-size: 100% 100%;
    background-image: url('sksn_pic_biankuang.png');
    transform: translate(-50%, -50%);
    z-index: 24;
}

.sksnw-background>.sksn-win-text{
    position: absolute;
    left: 50%;
    top: calc(50% - 135px);
    width: 600px;
    height: 80px;    
    transform: translate(-50%, -100%);
    z-index: 25;
    font-family: 'xinwei';
    overflow:scroll;
    font-size: 65px;
    color:red;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.sksnw-background>.sksn-win-close-button{
    position: absolute;
    left: 50%;
    top: calc(100% - 100px);
    width: 100px;
    height: 50px;    
    line-height: 50px;
    transform: translate(-50%, 0%);
    z-index: 25;
    background-size: 100% 100%;
    background-image: url('sksn_pic_button.png');
    font-family: 'xinwei';
    overflow:scroll;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.sksnw-background>.sksn-winner-text{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    min-height: 100px;
    transform: translate(0%, -50%);
    z-index: 25;
    font-family: 'xinwei';
    font-size: 35px;
    text-align: center;
}
.sksn-loading {
	display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 230px;    
    background-size: 100% 100%;
    background-image: url('sksn_dialog.jpg');
    transform: translate(-50%, -50%);
    z-index: 22;
}
.sksn-loading >.sksn-loading-text{
    display: table-cell;
    position: absolute;
	margin: 5px;
    top:50%;
    left:50%;
	width: 380px;
    height: 100px;
    font-family: 'xinwei';
    overflow:scroll;
    font-size: 18px;
    transform: translate(-50%, -50%);
    color: white !important;
    text-align: center;
    vertical-align: middle;
}

.sksn-dialog>.sksn-dialog-icon{
    position: absolute;
	margin: 5px;
	top:40px;
	width: 60px;
	height: 60px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 5px black;
}
.sksn-dialog>.sksn-dialog-text{
    position: absolute;
	margin: 5px;
    top:40px;
    left:60px;
	width: 320px;
    height: 330px;
    font-family: 'xinwei';
    overflow:scroll;
    font-size: 18px;
    color: white !important;
}

.sksn-dialog>.sksn-dialog-title{
    position: absolute;
	margin: 5px;
    top:10px;
    left:10px;
	width: 320px;
    height: auto;
    font-family: 'xinwei';
    font-size: 21px;
    color: white !important;
}